<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- ******************   beans  ****************** -->

    <!-- Service -->
    <bean name="serviceGreeting"   class="com.vicboma.fwk.spring.boot.service.src.ServiceGreetingImpl"/>

    <bean name="serviceHelloWorld" class="com.vicboma.fwk.spring.boot.service.src.ServiceHelloWorldImpl"/>

    <bean name="serviceAnnotation" class="com.vicboma.fwk.spring.boot.service.src.ServiceAnnotationImpl"/>

    <!-- Controller -->
    <bean name="controllerGreeting"  abstract="true" class="com.vicboma.fwk.spring.boot.controller.src.GreetingControllerImpl">
        <constructor-arg  ref ="serviceGreeting"/>
    </bean>

    <bean name="controllerHelloWorld"  abstract="true" class="com.vicboma.fwk.spring.boot.controller.src.HelloWorldControllerImpl">
        <constructor-arg  ref ="serviceHelloWorld"/>
    </bean>

    <bean name="controllerAnnotation"  abstract="true" class="com.vicboma.fwk.spring.boot.controller.src.AnnotationControllerImpl">
        <constructor-arg  ref ="serviceAnnotation"/>
    </bean>

</beans>
